<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <!-- đọc cấu hình thiết bị-->
    <title>Home</title>



    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <!-- header 12 cột -->
            <div class="col-md-12">
                <header>

                    <div class="row">
                        <div class="col-md-6">
                            <a href="index.html"> <img class="logo" alt="Logo" src="img/logo-khtn.jpg">
                            </a>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>




                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="collapse">
                                <ul class="nav navbar-nav navbar-left">
                                    <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home </a>
                                    </li>
                                    <li><a href="albums.html"><span class="glyphicon glyphicon-picture"></span> Albums </a>
                                    </li>
                                    <li><a href="about.html"><span class="glyphicon glyphicon-info-sign"></span> About </a>
                                    </li>
                                    <li><a href="blog.html"><span class="glyphicon glyphicon-user"></span> Blog </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--   cho biết đang ở đâu, từ đâu đến-->
                        <ol class="breadcrumb">
                            <li class="active">Home</li>
                        </ol>
                    </nav>

                </header>
            </div>
            <!-- kết thúc header 12 cột -->
        </div>
        <!-- end row -->


        <div class="row">

            <!-- menu trái 3 cột -->
            





             <!-- content 9 cột -->
        <div class="col-md-9">

            <article>Content sdfghjkl;(9 cột)Apple, a US technology Group Corp, which found Asian region to develop factory project worth about $1 billion USD last year. After assessing region nations then Apple has 2 choices are VietNam and India. However, due to some unfortunate reasons so Apple choosed India.</article>

        </div>
        </div>





       
    </div>




    <div class="row">
        <!-- footer trái 12 cột -->
        <div class="col-md-12">
            <div class="container">
                <footer>
                    <p class="copyright">2017 Powered By Blue Group, Theme By Bootstrap</p>
                </footer>
            </div>

        </div>
    </div>



    <div>
        <!-- end container -->
</body>

</html>